<h1>
    This is a demo for a grid.
</h1>

    <ps-data-grid [dataSource]="merchantDataSource" [(columns)]="columns" 
    tableClasses="table table-sm table-bordered" >

        <ng-container *psDataGridHeader>
            Some header
        </ng-container>
        <ng-container psDataGridCol="id">
            <div *psDataGridColHeader>ID</div>
            <div *psDataGridCell="let model">{{model.id}}</div>
        </ng-container>
        <ng-container psDataGridCol="name">
            <div *psDataGridColHeader>Name</div>
            <div *psDataGridCell="let model">{{model.name}}</div>
        </ng-container>
        <ng-container psDataGridCol="address">
            <div *psDataGridColHeader>Address</div>
            <div *psDataGridCell="let model">{{model.address}}</div>
        </ng-container>

        <ng-container psDataGridCol="commands">
            <ng-container *psDataGridColHeader>Actions</ng-container>
            <ng-container *psDataGridCell="let model">
                <button class="btn btn-primary mr-2">Some Actions</button>
            </ng-container>
        </ng-container>
        <ng-container *psDataGridFooter>
            <strong>Footer works!</strong>
        </ng-container>
    </ps-data-grid>