<ps-data-grid [dataSource]="merchantDataSource" [(columns)]="columns"
    tableClasses="table table-sm table-dark table-striped table-bordered">
    <ng-container *psDataGridHeader>
        <button class="btn-warning btn" psbxCommandModal commandTitle="Adding a new merchant" commandText="Add"
            [dataSource]="merchantDataSource" command="addMerchant" [template]="theModal">Create a new record</button>
    </ng-container>
    <ng-container psDataGridCol="id">
        <div *psDataGridColHeader>ID</div>
        <div *psDataGridCell="let model">{{model.id}}</div>
    </ng-container>
    <ng-container psDataGridCol="name">
        <div *psDataGridColHeader>Name</div>
        <div *psDataGridCell="let model">{{model.name}}</div>
    </ng-container>
    <ng-container psDataGridCol="address">
        <div *psDataGridColHeader>Address</div>
        <div *psDataGridCell="let model">{{model.address}}</div>
    </ng-container>


    <ng-container *psDataGridFooter>
        <psbx-ds-pagination [dataSource]="merchantDataSource"></psbx-ds-pagination> 
    </ng-container>
</ps-data-grid>

<button (click)="testService()">Test confirm</button>

<ng-template #confirm>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default"  >Yes</button>
      <button type="button" class="btn btn-primary"  >No</button>
    </div>
  </ng-template>



<ng-template #theModal let-command let-loading="loading">
    Name
    <input type="text" [attr.disabled]="loading" [(ngModel)]="command.name" placeholder="Enter a merchant name" class="form-control">
    Address
    <input type="text" [attr.disabled]="loading" [(ngModel)]="command.address" placeholder="Enter the merchant's address" class="form-control">
</ng-template>