<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">PoweredSoft UI</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="data-grid">Data Grid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list-view">List View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="command-modal">Command Modal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form-group">Form Group Modal</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-10" style="padding-top: 5px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>