<h2>Single Select Demo</h2>
<ps-ng-select [dataSource]="merchantDataSource" bindLabel="name" bindValue="id" [serverFiltering]="true">
    <div *psNgSelectLabel="let item">
        {{ item.name }} - {{ item.address }}
    </div>
</ps-ng-select>


<!-- <h2>Multi-Select Demo</h2>
<ps-ng-multi-select [dataSource]="merchantDataSource" [searchPath]="'name'" [sortingPath]="'name'" [disableServer]="false" [bindLabel]="'name'"></ps-ng-multi-select> -->


<!-- <form>
    <ps-ng-select [dataSource]="merchantDataSource" searchPath="name" sortingPath="name" formControlName="name" [disableServer]="false" bindLabel="name">
        <ng-template *psNgSelectLabel="let item" ng-label-tmp >
            <span>Name: </span> {{item.name}} | <span>Adress: </span>{{item.address}} | <span>Date: </span>{{item.openDate}}
        </ng-template>
    </ps-ng-select>
</form> -->

<!-- 
<form #form [formGroup]="myForm">
    <ps-ng-select [dataSource]="merchantDataSource" bindLabel="name" bindValue="id" formControlName="merchantId">
        <div *psNgSelectLabel="let item">
            {{ item.name }} - {{ item.address }}
        </div>
    </ps-ng-select>
</form>

{{ myForm.value | json }}


<ps-ng-select [dataSource]="merchantDataSource" bindLabel="name" bindValue="id" [(ngModel)]="myValue">
    <div *psNgSelectLabel="let item">
        {{ item.name }} - {{ item.address }}
    </div>
</ps-ng-select>

{{ myValue | json }} -->